sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
	display: none;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"QQHJHI+SimSun";
	src:url("18f46c60-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1em;
	font-family: "QQHJHI+SimSun", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: -0.0131em;
}

.ie .stl_09 {
	letter-spacing: -0.2092px;
}
@font-face {
	font-family:"WREDLP+SimSun";
	src:url("22d35857-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1em;
	font-family: "WREDLP+SimSun";
	color: #000000;
}
.stl_11 {
	font-size: 2.17em;
	font-family: "QQHJHI+SimSun", "Times New Roman";
	color: #000000;
}
.stl_12 {
	letter-spacing: 0.0037em;
}

.ie .stl_12 {
	letter-spacing: 0.1302px;
}
.stl_13 {
	font-size: 0.88em;
	font-family: "QQHJHI+SimSun", "Times New Roman";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"WMKJWA+KaiTi";
	src:url("c651c48d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.92em;
	font-family: "WMKJWA+KaiTi";
	color: #000000;
}
.stl_16 {
	letter-spacing: 0.02em;
}

.ie .stl_16 {
	letter-spacing: 0.2947px;
}
@font-face {
	font-family:"DLIOEW+KaiTi";
	src:url("b8616e98-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.92em;
	font-family: "DLIOEW+KaiTi", "Times New Roman";
	color: #000000;
}
.stl_18 {
	letter-spacing: 0.0219em;
}

.ie .stl_18 {
	letter-spacing: 0.3228px;
}
.stl_19 {
	letter-spacing: 0.0205em;
}

.ie .stl_19 {
	letter-spacing: 0.3014px;
}
.stl_20 {
	letter-spacing: 0.0084em;
}

.ie .stl_20 {
	letter-spacing: 0.124px;
}
.stl_21 {
	letter-spacing: 0.007em;
}

.ie .stl_21 {
	letter-spacing: 0.1037px;
}
.stl_22 {
	letter-spacing: 0.0625em;
}

.ie .stl_22 {
	letter-spacing: 0.92px;
}
.stl_23 {
	letter-spacing: 0.05em;
}

.ie .stl_23 {
	letter-spacing: 0.736px;
}
.stl_24 {
	letter-spacing: 0.0026em;
}

.ie .stl_24 {
	letter-spacing: 0.0378px;
}
.stl_25 {
	letter-spacing: -0.0017em;
}

.ie .stl_25 {
	letter-spacing: -0.0246px;
}
.stl_26 {
	letter-spacing: 0.0094em;
}

.ie .stl_26 {
	letter-spacing: 0.1389px;
}
.stl_27 {
	letter-spacing: 0.0321em;
}

.ie .stl_27 {
	letter-spacing: 0.4724px;
}
.stl_28 {
	letter-spacing: -0.0072em;
}

.ie .stl_28 {
	letter-spacing: -0.1053px;
}
.stl_29 {
	letter-spacing: 0.0418em;
}

.ie .stl_29 {
	letter-spacing: 0.6151px;
}
.stl_30 {
	letter-spacing: -0.5em;
}

.ie .stl_30 {
	letter-spacing: -7.36px;
}
.stl_31 {
	letter-spacing: 0.0833em;
}

.ie .stl_31 {
	letter-spacing: 1.2267px;
}
.stl_32 {
	letter-spacing: 0.0924em;
}

.ie .stl_32 {
	letter-spacing: 1.3598px;
}
.stl_33 {
	letter-spacing: 0.0837em;
}

.ie .stl_33 {
	letter-spacing: 1.2316px;
}
.stl_34 {
	letter-spacing: 0.0142em;
}

.ie .stl_34 {
	letter-spacing: 0.2094px;
}
.stl_35 {
	letter-spacing: 0.015em;
}

.ie .stl_35 {
	letter-spacing: 0.2201px;
}
.stl_36 {
	letter-spacing: 0.0243em;
}

.ie .stl_36 {
	letter-spacing: 0.357px;
}
.stl_37 {
	letter-spacing: 0.0158em;
}

.ie .stl_37 {
	letter-spacing: 0.2333px;
}
.stl_38 {
	letter-spacing: 0.0341em;
}

.ie .stl_38 {
	letter-spacing: 0.5026px;
}
.stl_39 {
	letter-spacing: 0.0062em;
}

.ie .stl_39 {
	letter-spacing: 0.0916px;
}
.stl_40 {
	letter-spacing: -0.0019em;
}

.ie .stl_40 {
	letter-spacing: -0.0282px;
}
.stl_41 {
	letter-spacing: 0.0228em;
}

.ie .stl_41 {
	letter-spacing: 0.3363px;
}
.stl_42 {
	letter-spacing: -0.0073em;
}

.ie .stl_42 {
	letter-spacing: -0.108px;
}
@font-face {
	font-family:"UJETWE+TimesNewRomanPSMT";
	src:url("7678902b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 1em;
	font-family: "UJETWE+TimesNewRomanPSMT";
	color: #000000;
}
.stl_44 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"DFRPVJ+SimSun";
	src:url("b43fb196-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 1em;
	font-family: "DFRPVJ+SimSun", "Times New Roman";
	color: #000000;
	display: none;
}
.stl_46 {
	letter-spacing: 0.021em;
}

.ie .stl_46 {
	letter-spacing: 0.3088px;
}
.stl_47 {
	letter-spacing: 0.0124em;
}

.ie .stl_47 {
	letter-spacing: 0.1831px;
}
.stl_48 {
	letter-spacing: -0.0033em;
}

.ie .stl_48 {
	letter-spacing: -0.0486px;
}
.stl_49 {
	letter-spacing: -0.0037em;
}

.ie .stl_49 {
	letter-spacing: -0.054px;
}
.stl_50 {
	letter-spacing: -0.004em;
}

.ie .stl_50 {
	letter-spacing: -0.0589px;
}
.stl_51 {
	letter-spacing: -0.0034em;
}

.ie .stl_51 {
	letter-spacing: -0.0498px;
}
.stl_52 {
	letter-spacing: -0.0038em;
}

.ie .stl_52 {
	letter-spacing: -0.0563px;
}
.stl_53 {
	letter-spacing: -0.0122em;
}

.ie .stl_53 {
	letter-spacing: -0.1803px;
}
.stl_54 {
	letter-spacing: -0.0035em;
}

.ie .stl_54 {
	letter-spacing: -0.052px;
}
.stl_55 {
	letter-spacing: 0.0016em;
}

.ie .stl_55 {
	letter-spacing: 0.0237px;
}
.stl_56 {
	letter-spacing: -0.007em;
}

.ie .stl_56 {
	letter-spacing: -0.103px;
}
.stl_57 {
	letter-spacing: -0.0031em;
}

.ie .stl_57 {
	letter-spacing: -0.0463px;
}
.stl_58 {
	letter-spacing: -0.511em;
}

.ie .stl_58 {
	letter-spacing: -7.5219px;
}
.stl_59 {
	letter-spacing: -0.0125em;
}

.ie .stl_59 {
	letter-spacing: -0.184px;
}
.stl_60 {
	letter-spacing: 0.0199em;
}

.ie .stl_60 {
	letter-spacing: 0.2934px;
}
.stl_61 {
	letter-spacing: -0.002em;
}

.ie .stl_61 {
	letter-spacing: -0.0288px;
}
.stl_62 {
	letter-spacing: 0.0076em;
}

.ie .stl_62 {
	letter-spacing: 0.1121px;
}
.stl_63 {
	letter-spacing: 0.0386em;
}

.ie .stl_63 {
	letter-spacing: 0.5684px;
}
.stl_64 {
	letter-spacing: 0.0497em;
}

.ie .stl_64 {
	letter-spacing: 0.7321px;
}
.stl_65 {
	letter-spacing: 0.0455em;
}

.ie .stl_65 {
	letter-spacing: 0.6701px;
}
.stl_66 {
	letter-spacing: 0.0041em;
}

.ie .stl_66 {
	letter-spacing: 0.0602px;
}
.stl_67 {
	letter-spacing: 0.0036em;
}

.ie .stl_67 {
	letter-spacing: 0.0527px;
}
.stl_68 {
	letter-spacing: -0.0042em;
}

.ie .stl_68 {
	letter-spacing: -0.0617px;
}
.stl_69 {
	letter-spacing: -0.011em;
}

.ie .stl_69 {
	letter-spacing: -0.1619px;
}
.stl_70 {
	letter-spacing: 0.0134em;
}

.ie .stl_70 {
	letter-spacing: 0.1968px;
}
.stl_71 {
	letter-spacing: 0.0115em;
}

.ie .stl_71 {
	letter-spacing: 0.1688px;
}
.stl_72 {
	letter-spacing: 0.0151em;
}

.ie .stl_72 {
	letter-spacing: 0.2224px;
}
.stl_73 {
	letter-spacing: -0.0123em;
}

.ie .stl_73 {
	letter-spacing: -0.1803px;
}
.stl_74 {
	letter-spacing: -0.0358em;
}

.ie .stl_74 {
	letter-spacing: -0.5267px;
}
.stl_75 {
	letter-spacing: -0.478em;
}

.ie .stl_75 {
	letter-spacing: -7.0362px;
}
.stl_76 {
	letter-spacing: -0.003em;
}

.ie .stl_76 {
	letter-spacing: -0.0442px;
}
.stl_77 {
	letter-spacing: -0.0032em;
}

.ie .stl_77 {
	letter-spacing: -0.0476px;
}
.stl_78 {
	letter-spacing: 0.0088em;
}

.ie .stl_78 {
	letter-spacing: 0.13px;
}
.stl_79 {
	letter-spacing: -0.0018em;
}

.ie .stl_79 {
	letter-spacing: -0.027px;
}
.stl_80 {
	letter-spacing: -0.0028em;
}

.ie .stl_80 {
	letter-spacing: -0.0405px;
}
.stl_81 {
	letter-spacing: -0.0128em;
}

.ie .stl_81 {
	letter-spacing: -0.1879px;
}
.stl_82 {
	letter-spacing: -0.0039em;
}

.ie .stl_82 {
	letter-spacing: -0.0576px;
}
.stl_83 {
	letter-spacing: 0.0023em;
}

.ie .stl_83 {
	letter-spacing: 0.0336px;
}
.stl_84 {
	letter-spacing: 0.0153em;
}

.ie .stl_84 {
	letter-spacing: 0.2245px;
}
.stl_85 {
	letter-spacing: -0.0014em;
}

.ie .stl_85 {
	letter-spacing: -0.02px;
}
.stl_86 {
	letter-spacing: 0.0025em;
}

.ie .stl_86 {
	letter-spacing: 0.0365px;
}
.stl_87 {
	letter-spacing: 0.0139em;
}

.ie .stl_87 {
	letter-spacing: 0.204px;
}
.stl_88 {
	letter-spacing: 0.0236em;
}

.ie .stl_88 {
	letter-spacing: 0.348px;
}
.stl_89 {
	letter-spacing: 0.0079em;
}

.ie .stl_89 {
	letter-spacing: 0.1158px;
}
.stl_90 {
	letter-spacing: 0.0137em;
}

.ie .stl_90 {
	letter-spacing: 0.2022px;
}
.stl_91 {
	letter-spacing: 0.0033em;
}

.ie .stl_91 {
	letter-spacing: 0.1157px;
}
.stl_92 {
	letter-spacing: -0.0126em;
}

.ie .stl_92 {
	letter-spacing: -0.1853px;
}
.stl_93 {
	letter-spacing: -0.0331em;
}

.ie .stl_93 {
	letter-spacing: -0.487px;
}
.stl_94 {
	letter-spacing: -0.0225em;
}

.ie .stl_94 {
	letter-spacing: -0.3309px;
}
.stl_95 {
	letter-spacing: -0.0229em;
}

.ie .stl_95 {
	letter-spacing: -0.337px;
}
.stl_96 {
	letter-spacing: -0.0137em;
}

.ie .stl_96 {
	letter-spacing: -0.2014px;
}
.stl_97 {
	letter-spacing: 0.104em;
}

.ie .stl_97 {
	letter-spacing: 1.5309px;
}
.stl_98 {
	letter-spacing: 0.0087em;
}

.ie .stl_98 {
	letter-spacing: 0.1286px;
}
.stl_99 {
	letter-spacing: 0.0123em;
}

.ie .stl_99 {
	letter-spacing: 0.1815px;
}
.stl_100 {
	letter-spacing: 0.0211em;
}

.ie .stl_100 {
	letter-spacing: 0.3105px;
}
.stl_101 {
	letter-spacing: -0.0222em;
}

.ie .stl_101 {
	letter-spacing: -0.3268px;
}
.stl_102 {
	letter-spacing: -0.0094em;
}

.ie .stl_102 {
	letter-spacing: -0.1391px;
}
.stl_103 {
	letter-spacing: 0.0074em;
}

.ie .stl_103 {
	letter-spacing: 0.1084px;
}
.stl_104 {
	letter-spacing: -0.013em;
}

.ie .stl_104 {
	letter-spacing: -0.1917px;
}
.stl_105 {
	letter-spacing: 0.0047em;
}

.ie .stl_105 {
	letter-spacing: 0.0687px;
}
.stl_106 {
	letter-spacing: 0.009em;
}

.ie .stl_106 {
	letter-spacing: 0.1325px;
}
.stl_107 {
	letter-spacing: -0.0015em;
}

.ie .stl_107 {
	letter-spacing: -0.0224px;
}
.stl_108 {
	letter-spacing: -0.0071em;
}

.ie .stl_108 {
	letter-spacing: -0.105px;
}
.stl_109 {
	letter-spacing: 0.0031em;
}

.ie .stl_109 {
	letter-spacing: 0.0451px;
}
.stl_110 {
	letter-spacing: -0.0437em;
}

.ie .stl_110 {
	letter-spacing: -0.6437px;
}
.stl_111 {
	letter-spacing: 0.0181em;
}

.ie .stl_111 {
	letter-spacing: 0.2662px;
}
.stl_112 {
	letter-spacing: -0.0022em;
}

.ie .stl_112 {
	letter-spacing: -0.0324px;
}
.stl_113 {
	letter-spacing: -0.0293em;
}

.ie .stl_113 {
	letter-spacing: -0.4317px;
}
.stl_114 {
	letter-spacing: -0.0027em;
}

.ie .stl_114 {
	letter-spacing: -0.0405px;
}
.stl_115 {
	letter-spacing: -0.023em;
}

.ie .stl_115 {
	letter-spacing: -0.3379px;
}
.stl_116 {
	letter-spacing: -0.0127em;
}

.ie .stl_116 {
	letter-spacing: -0.1876px;
}
.stl_117 {
	letter-spacing: -0.0227em;
}

.ie .stl_117 {
	letter-spacing: -0.3337px;
}
.stl_118 {
	letter-spacing: -0.012em;
}

.ie .stl_118 {
	letter-spacing: -0.1769px;
}
.stl_119 {
	letter-spacing: 0.0531em;
}

.ie .stl_119 {
	letter-spacing: 0.7818px;
}
.stl_120 {
	letter-spacing: -0.0244em;
}

.ie .stl_120 {
	letter-spacing: -0.3596px;
}
.stl_121 {
	letter-spacing: -0.0232em;
}

.ie .stl_121 {
	letter-spacing: -0.3411px;
}
.stl_122 {
	letter-spacing: 0.002em;
}

.ie .stl_122 {
	letter-spacing: 0.0297px;
}
.stl_123 {
	letter-spacing: -0.0047em;
}

.ie .stl_123 {
	letter-spacing: -0.0691px;
}
.stl_124 {
	letter-spacing: -0.0055em;
}

.ie .stl_124 {
	letter-spacing: -0.0807px;
}
.stl_125 {
	letter-spacing: -0.0179em;
}

.ie .stl_125 {
	letter-spacing: -0.2629px;
}
@font-face {
	font-family:"KJSJEP+KaiTi";
	src:url("b78f64bb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_126 {
	font-size: 0.92em;
	font-family: "KJSJEP+KaiTi", "Times New Roman";
	color: #000000;
}
.stl_127 {
	letter-spacing: -0.0044em;
}

.ie .stl_127 {
	letter-spacing: -0.0648px;
}
.stl_128 {
	letter-spacing: -0.0144em;
}

.ie .stl_128 {
	letter-spacing: -0.212px;
}
